In [1]:
#Connect to mysql
import pymysql
import pandas as pd
import numpy as np
conn=pymysql.connect(host='localhost',port=int(3308),user='root',passwd='',db='fidness')

In [2]:
#select user table
df=pd.read_sql_query("SELECT * FROM fid_client_carte_magnetique ",conn)
df.head(100)

    id  id_client  id_carte_magnetique  numero_carte        date_creation
0    0          1                    2      92515013  2021-07-06 13:47:47
1    1          1                    4      30076632  2021-07-06 12:53:40
2    2          1                    4      30076632  2021-07-06 13:17:10
3    3          1                    4      30076632  2021-07-06 13:45:53
4    4          3                    1      18136601  2021-07-06 13:25:56
..  ..        ...                  ...           ...                  ...
95  95        347                    8      47090789  2021-11-11 20:40:15
96  96        347                   11      46119873  2021-11-11 20:38:26
97  97        347                   25      31917304  2021-11-11 20:38:57
98  98        353                    3      70558659  2021-11-29 15:48:00
99  99        353                    5      34584536  2021-11-29 15:45:42

[100 rows x 5 columns]

In [4]:
#verifiy null values
df.isnull().sum()

id                     0
id_client              0
id_carte_magnetique    0
numero_carte           0
date_creation          0
dtype: int64

In [6]:
#exportiiiing
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:@localhost:3308/fid_db')
df.to_sql(name='fid_client_carte_magnetique',con=engine,if_exists='replace')