In [2]:
#Connect to mysql
import pymysql
import pandas as pd
import numpy as np
conn=pymysql.connect(host='localhost',port=int(3308),user='root',passwd='',db='fidness')

In [3]:
#select user table
df=pd.read_sql_query("SELECT * FROM fid_role_admin ",conn)
df.head(100)

     id  id_admin  id_droit_acces
0     1       1.0               1
1     2       1.0               2
2     3       1.0               3
3     4       1.0               4
4     5       1.0               5
..  ...       ...             ...
95  258      14.0               3
96  259      14.0               4
97  260      14.0               5
98  261      14.0               6
99  262      14.0              13

[100 rows x 3 columns]

In [4]:
df.isna().sum()

id                0
id_admin          0
id_droit_acces    0
dtype: int64

In [5]:
#exportiiiing
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:@localhost:3308/fid_db')
df.to_sql(name='fid_role_admin',con=engine,if_exists='replace')