In [1]:
#Connect to mysql
import pymysql
import pandas as pd
import numpy as np
conn=pymysql.connect(host='localhost',port=int(3308),user='root',passwd='',db='fidness')

In [2]:
#select user table
df=pd.read_sql_query("SELECT * FROM fid_marque ",conn)
df.tail()

,id,raison_sociale,id_gouvernorat,code_postal,id_secteur_activite,telephone,email_contact,nom_prenom_responsable,prenom_responsable,telephone_responsable,email_responsable,date_creation,id_admin_creation
118,118,Zara,23,2076,104,71567890,za**@**.xyz,Z******,shoping,23******,zara@hot***.xyz,2022-05-11 10:28:02,240
119,119,Mango,23,2076,104,24567890,ma**@**.xyz,M******,GO,25******,mango@ho***.xyz,2022-05-11 11:20:36,240
120,120,Graiet ElectromÃ©nager,23,2076,128,50123456,gr**@**.xyz,******,ElectromÃ©nager,51******,graeit@h***.xyz,2022-05-11 12:15:08,240
121,121,BATAM,23,2076,128,21345678,ba**@**.xyz,E******,Batam,23******,bata@hot***.xyz,2022-05-11 12:30:37,240
122,122,GEANT KIDS,1,2032,254,31305858,GE**@**.xyz,G******,KIDS,30******,GEANTKID***.xyz,2022-05-18 21:21:29,1

In [37]:
#checking null values
df.isnull().sum()

id                       0
raison_sociale           0
id_gouvernorat           0
code_postal              0
id_secteur_activite      0
telephone                0
email_contact            0
nom_responsable          0
prenom_responsable       0
titre_responsable        0
telephone_responsable    0
email_responsable        0
date_creation            0
id_admin_creation        0
dtype: int64

In [3]:
#exportiiiing
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:@localhost:3308/fid_db')
df.to_sql(name='fid_marque',con=engine,if_exists='replace', index=False)