In [1]:
#Connect to mysql
import pymysql
import pandas as pd
import numpy as np
conn=pymysql.connect(host='localhost',port=int(3308),user='root',passwd='',db='fidness')

In [2]:
#select user table
df=pd.read_sql_query("SELECT * FROM fid_secteur_activite ",conn)
df.head(100)

     id                                        nom
0     1                                  Abattoirs
1     2                           Abris de voiture
2     3                        Activits juridiques
3     4  Administration d'autres biens immobiliers
4     5     Administration d'immeubles rsidentiels
..  ...                                        ...
95   96                                  Colle¨ges
96   97                                     Comits
97   98                                   Commerce
98   99                 Commerce Agro-alimentaires
99  100                     Commerce International

[100 rows x 2 columns]

In [3]:
df.isna().sum()

id     0
nom    0
dtype: int64

In [4]:
#exportiiiing
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:@localhost:3308/fid_db')
df.to_sql(name='fid_secteur_activite',con=engine,if_exists='replace')